# This is sample configuration file. Use it as a reference to create your "config.env"
# All config parameters required to be prefixed with "CONFIG_"

# Use "bluetoothctl paired-devices" to check for bluetooth mac address. Device should be paired already.
CONFIG_AUDIO_BLUETOOTH_DEVICE_MAC=00:00:00:00:00:00
# Use "pactl list sinks" or "pactl list sinks short" to check for audio output devices names.
CONFIG_AUDIO_SINK_BUILTIN_NAME=alsa_output.pci-0000_00_00.0.analog-stereo
